/* page container */
.pc {
    display:flex;
    justify-content: center;
}

.pc>.cw {
    width:1000px;
}

.pc>.cw>#chef {
    width:350px;
    margin:23px 40px 20px 0px;
    float:left;
    border: 1px solid #cea135;
}

.pc>.cw p {
    letter-spacing: 1px;
    line-height: 30px;
}