/* common styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
}

.footer {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;

}

.footer>.logo-footer img {
    width: 180px;
    height: 100%;
    filter: brightness(50%);

}

.footer>.footer-phone-hours span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;
}

.footer>.footer-phone-hours>.hours {
    font-size: 0.8em;
    color: #cea135;
}

footer>.links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.footer>.sofa {
margin-top: 40px;
margin-bottom: 40px;
width: 300px;
display: flex;
justify-content: space-around
}

.footer>.sofa a {
font-size: 1.5em;
color: #cbcbcb;
transition: 0.5;
}

.footer>.sofa a:hover {
    color: #cea135
}

.copyright {
    margin-bottom: 42px;
    font-size: 0.7em;
    color: #858585;
}

.sker {
    position:relative;
    height:400px;
    overflow:hidden;
}

.sker>.hrbg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: skewY(-6deg);
    transform-origin: top left;
    filter: brightness(50%)
}

.sker>.hen {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.sker>.hen>.shc {
    width:1000px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.sker>.hen>.shc>.hw {
    background-color: #cea135;
    color: #11122b;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 175px;
    padding:10px;
    text-align: center;
    
}
